В файле приведён фрагмент базы данных **«Кондитерские изделия»** о поставках конфет и печенья в магазины районов города. База данных состоит из трёх таблиц.

Таблица «Движение товаров» содержит записи о поставках товаров в магазины в течение первой половины августа 2023 г., а также информацию о проданных товарах. Поле Тип операции содержит значение Поступление или Продажа, а в соответствующее поле Количество упаковок, шт внесена информация о том, сколько упаковок товара поступило в магазин или было продано в течение дня.

Используя информацию из приведённой базы данных, определите **магазин на Мартеновской улице** с наибольшей выручкой от продажи **пряников всех видов за вторую половину августа**. В ответе укажите одно число — найденную выручку от реализации пряников для этого магазина.

Дата, адресс, наименование товара

In [5]:
import pandas as pd

move = pd.read_excel('move.xlsx')
move.head(10)

,ID операции,Дата,ID магазина,Артикул,"Количество упаковок, шт",Тип операции
0,1,2023-08-02,M1,1,200,Поступление
1,2,2023-08-02,M1,2,200,Поступление
2,3,2023-08-02,M1,3,200,Поступление
3,4,2023-08-02,M1,4,200,Поступление
4,5,2023-08-02,M1,5,200,Поступление
5,6,2023-08-02,M1,6,200,Поступление
6,7,2023-08-02,M1,7,200,Поступление
7,8,2023-08-02,M1,8,200,Поступление
8,9,2023-08-02,M1,9,200,Поступление
9,10,2023-08-02,M1,10,200,Поступление

In [6]:
product = pd.read_excel('product.xlsx')
product.head(10)

,Артикул,Отдел,Наименование товара,Ед_изм,Количество в упаковке,Цена за упаковку
0,1,Конфеты,Батончик соевый,грамм,250,132
1,2,Конфеты,Заяц шоколадный большой,шт,1,299
2,3,Конфеты,Заяц шоколадный малый,шт,6,349
3,4,Конфеты,Зефир в шоколаде,грамм,250,264
4,5,Конфеты,Зефир ванильный,грамм,800,239
5,6,Конфеты,Зефир воздушный,грамм,500,179
6,7,Конфеты,Зефир лимонный,грамм,1000,299
7,8,Конфеты,"Карамель ""Барбарис""",грамм,250,60
8,9,Конфеты,"Карамель ""Взлетная""",грамм,500,109
9,10,Конфеты,"Карамель ""Раковая шейка""",грамм,1000,650

In [7]:
shop = pd.read_excel('shop.xlsx')
shop.head(10)

  ID магазина        Район                Адрес
0          M1  Октябрьский      просп. Мира, 45
1          M2    Заводской  ул. Металлургов, 12
2          M3   Прибрежный        Колхозная, 11
3          M4   Прибрежный          Луговая, 21
4          M5  Октябрьский     ул. Гагарина, 17
5          M6  Октябрьский      просп. Мира, 10
6          M7    Заводской   ул. Сталеваров, 14
7          M8    Заводской   ул. Сталеваров, 42
8          M9   Прибрежный           Луговая, 7
9         M10  Октябрьский  просп. Революции, 1